body {
  padding: 0px;
  margin: 0px;
  background-color: white;
  color: black;
  font-weight: 300;
  font-size: 13pt;
}

/* text styling */
strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

h1 {
  margin-top: 0px;
}

/* these are all the same for now, but easy to modify individually */
#container-not-an-ad,
#container-error,
#container-story_reading,
#container-word_chain_game,
#container-instructions,
#container-fullscreen-warning,
#container-final_page {
  background: white;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  font-size: 18pt;
  line-height: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* instructions box */
.instructions {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 1.5em;
}

/* instructions: instruct-1-1.html*/
.instruction-list {
  display: inline-block;
  text-align: left;
  max-width: 800px;
}

.instruction-list li:not(:last-child) {
  margin-bottom: 20px;
}

.instruction-list ol > li::marker {
  font-weight: bold;
}

.grey-text {
  color: #474747;
}

/* skip button section */
#container-skip-button {
  margin: auto;
  width: 1000px;
  text-align: center;
  font-size: 12pt;
  line-height: 1.1em;
}

/* ad.html  - the ad that people view first */
#adlogo {
  width: 140px;
  padding: 2px;
  border: 1px solid #ccc;
  margin-right: 1em;
}

/* consent.html - the consent form */
#container-consent {
  background: white;
  margin: 30px;
}

#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

/* thoughts and reading */
#sentence {
  text-align: center;
  font-size: 27pt;
  width: 900px;
  line-height: 1.5;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container-thoughts_and_reading {
  text-align: center;
  font-size: 20pt;
  line-height: 1.1em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responseBox {
  border-color: #ffffff;
  background-color: transparent;
  border: 0px solid;
  height: 40px;
  width: 160px;
  resize: none;
  text-align: center;
}

/* questionnaire */
#container-questionnaire {
  background: white;
  /* font-size: 16pt;
  line-height: 1.1em; */
  margin: 30px;
}

#questionnaire {
  margin: 0 auto;
  margin-top: 0;
  width: 90%;
  max-width: 1400px;
  min-width: 800px;
  font-size: 100%;
}

.ctext {
  text-align: center;
}
