/* Setting max width for all content */
.container {
  max-width: 1002px;
}

/* Font size */
#content {
  font-size: 20px;
}

/* Free Association Response Box */
.responseBox {
  background-color: transparent;
  border: 1px solid;
  height: 45px;
  width: 210px;
  resize: none;
  text-align: center;
}

/* Personality Questionnaire */
tr.spaceUnder>td {
  padding-bottom: 1em;
}
